@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,300,700,500);

a {
  text-decoration: none;
  color: #000000;
}

.Roboto(@weight: 400) {
  font-family: 'Roboto', sans-serif;
  font-weight: @weight;
}

.app {
  width: 1000px;
  margin: 0 auto;

  .header {
    position: relative;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        padding: 10px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        .logo {
          .Roboto(900);
          letter-spacing: 1px;
          font-size: 20px;
          line-height: 24px;
          margin-right: 10px;
        }
      }

      &.right {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}